body{
  margin: 0;
}
a {
  text-decoration: none;
}
header{
  height: 120px;
  background-color:#323534;
  border-bottom:7px solid #EF8D00;
  font-family: arial;
}
.mpwidth{
  width: 900px;
  margin: 0 auto;
}
#headermp .mpwidth a{
  color: #EF8D00;
  font-size: 40px;
  text-align: left;
  display: block;
  padding-top: 22px;
}
#headermp .mpwidth span{
font-size: 25px;
color: white
}
.mpcontent{
  width: 900px;
  margin: 0 auto;
}
#mcontent .mpcontent h1{
  font-size: 30px;
  color: #DE4D00;
  font-family: arial;
}
#mcontent .mpcontent p{
  font-size: 25px;
  color: black;
  font-family: arial;
}
