body{
  margin:0;
}
a{
  text-decoration: none;
}
#c_header{
  height:120px;
  background-color:#323534;
  border-bottom:7px solid #5CE755;
  font-family: arial;
}
.c_width{
  width:900px;
  margin: 0 auto;
  padding-top: 30px;
}
#c_header .c_width a{
  display: block;
  font-size: 30px;
  color: #5CE755;
}
#c_header .c_width span{
  font-size: 20px;
  color: white;
}
#c_contents .c_width p{
  font-size: 20px;
  font-family: arial;
}
#c_contents .c_width h1{
  font-size: 25px;
  font-family: arial;
}
#c_contents .c_width .back{
  width: 90px;
  height: 90px;
}
#c_footer{
  background-color:#323534;
  border-top:7px solid #5CE755;
  font-family: arial;
  bottom: 0px;
 position: fixed;
}
.cc_width{
  width: 2000px;
  margin: 0 auto;
  height: 80px;
}
