body{
  margin:0;
  background: url(zenit_retro_camera_photos_map_107245_3840x2160.jpg);
}
a{
  text-decoration: none;
}
.swidth{
  width: 900px;
  margin: 0 auto;
  margin-top: 200px;
}
#ul-box ul li{
  display: inline-block;
}
#ul-box ul li p {
  text-align: center;
  font-size: 35px;
  font-family:sans-serif;
  color: white;
}
